openapi: 3.0.0
info:
  title: KPI Service API
  version: 1.0.0
servers:
  - url: https://api.kuiper.so
    description: Production server
paths:
  /account_kpi:
    get:
      summary: Retrieve Account KPIs
      description: This endpoint retrieves various KPIs for a given account over a specified time period.
      parameters:
        - name: kpi
          in: query
          required: true
          description: Type of KPI to retrieve
          schema:
            type: string
            enum:
              - kpi_mrr_group
        - name: frequency
          in: query
          required: true
          description: Frequency of the KPI data
          schema:
            type: string
            enum:
              - MONTHLY
        - name: start_date
          in: query
          required: true
          description: Start date for the KPI data
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          required: true
          description: End date for the KPI data
          schema:
            type: string
            format: date-time
        - name: category
          in: query
          required: false
          description: Category of the KPI data
          schema:
            type: string
        - name: combine_for_date
          in: query
          required: false
          description: Whether to combine data for the date
          schema:
            type: boolean
        - name: account_id
          in: query
          required: true
          description: The account ID for which KPIs are being requested
          schema:
            type: string
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                # Define the response schema here
                # Other response codes here

